@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&family=IBM+Plex+Mono:wght@300;400;500&family=JetBrains+Mono:wght@200;300;400;500;600;700;800&family=Space+Mono&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Chakra Petch', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.rs-drawer-header-close {
  display: none;
}

.hover:hover {
  cursor: pointer;
}

.rs-drawer-header {
  padding: 0px;
}

.rs-drawer {
  margin-top: 71px;
}

.rs-drawer-left.rs-drawer-sm {
  width: 624px;
}

.rs-drawer-body {
  padding: 0px;
}

.rs-dropdown-toggle, .rs-dropdown-toggle.rs-btn {
  background-color: transparent;
  color: #fff;
}

.dropdown-item {
  background-color: black;
  color: rgba(255,255,255,0.6);
}

.dropdown-item:hover {
  color: white;
  background-color: black;
}

.rs-dropdown-menu {
  background-color: black;
}

.rs-dropdown-menu:hover {
  background-color: black;
}

.rs-dropdown-item.rs-dropdown-item-active {
  background-color: black;
  color: white;
}

.rs-dropdown-item.rs-dropdown-item-active:hover {
  background-color: black;
  color: white;
}

.rs-tag-lg .rs-tag-icon-close {
  padding: 13px 10px;
}

.rs-btn-close .rs-icon {
  color: #515151
}

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.filter-header-item:hover {
  background: rgba(255, 255, 255, 0.06);
}


.rs-popover {
  padding: 24px;
  background: rgba(18, 18, 18, 1)!important;
  color: white;
}