@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&family=IBM+Plex+Mono:wght@300;400;500&family=JetBrains+Mono:wght@200;300;400;500;600;700;800&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');


html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Chakra Petch', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000!important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.rs-drawer-header-close {
  display: none;
}

.hover:hover {
  cursor: pointer;
}

.rs-drawer-header {
  padding: 0px;
}

.rs-drawer {
  margin-top: 71px;
}

.rs-drawer-left.rs-drawer-sm {
  width: 626px;
}

.rs-drawer-body {
  padding: 0px;
}

.rs-dropdown-toggle, .rs-dropdown-toggle.rs-btn {
  background-color: transparent;
  color: #fff;
}

.dropdown-item {
    background-color: black!important;
    color: rgba(255,255,255,0.6);
}

.dropdown-item:hover {
  color: white;
  background-color: black;
}

.rs-tag-lg .rs-tag-icon-close {
  padding: 13px 10px;
}

.rs-btn-close .rs-icon {
    color: red;
    width:14px;
    height:14px;
}

::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.filter-header-item:hover {
  background: rgba(255, 255, 255, 0.06);
}

.filter-header-item {
  transition: 0.5s ease;
}


.rs-popover {
  background: rgba(18, 18, 18, 1)!important;
  color: white;
}

.rs-popover[class*=placement-bottom].rs-anim-in {
  padding: 0px;
  border-radius: 12px;
}

.border-hover:hover{
  border: 1px solid rgba(255,255,255,0.4);
}

.border-hover{
  transition:.3s ease;
}

a, a:hover, a:focus, a:active {
  text-decoration: none!important;
  color: #fff;
}


.annotation-note-bg {
  fill-opacity: 0.8;
}

.annotation-note-label,
.annotation-note-title {
  fill: black;
  font-size: 0.8em;
}

#chart-container {
  flex: 1;
  position: relative;
  width: 100%;
}

#chart-container > div {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  text-align: middle;
  vertical-align: middle;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

#loading span {
  flex: 1;
  text-align: center;
  font-size: 2em;
}

#chart d3fc-group {
  grid-template-columns: 1em auto 1fr 1em 0;
  grid-template-rows: 0 auto 1fr 1em 0;
}

#chart {
  width: 100vw;
  height: 100vw;
}

.tick text {
  display: none;
}

:root {
  --annotation-accent-color: #ffffff;
  }

.annotation path {
  stroke: var(--annotation-accent-color);
  fill: none;
}

.annotation path.connector-arrow{
fill: var(--annotation-accent-color);
}

.annotation text {
fill: var(--annotation-accent-color);
}

path.note-line {
  stroke: transparent;
}

.annotation-note-title {
font-size: medium;
}

.annotation.badge path.subject-ring {
fill: white;
stroke-width: 2.5px;
}

.annotation-subject{
stroke-width: 2.5px;
}

.annotation.badge path.subject-pointer, .annotation.badge path.subject {
fill: var(--annotation-accent-color);
stroke-width: 2.5px;
stroke-linecap: round;
} 

rect.annotation-note-bg {
fill: rgba(255, 255, 255, 0);
}

.pagination-item {
  background-color: transparent!important;
  background: transparent!important;
  color: #fff!important;
}

.pagination {
  margin-left: 20px!important;
}

.pagination-item.active {
  background-color: rgba(255,255,255,0.3)!important;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.shined {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 50px;
  display: inline-block;
  
  margin: 25px 0 25px 25px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 12px;
  font-family: sans-serif;
}

.icon:nth-child(1) { background: cornflowerblue; }
.icon:nth-child(2) { background: salmon; }
.icon:nth-child(3) { background: gray; }

/**
 * The "shine" element
 */
.shine-wrap{
  display:inline-block;
  height:20px;width:20px;
  position:relative;
  overflow:hidden;
}
.shine-wrap img{
  position:absolute;top:0;left:0;height:100%;width:100%;
}
.shine-wrap:before{
  content:"";z-index:10;
  position:absolute;height:200%;width:200%;top:-120%;left:-120%;
  background:linear-gradient(transparent 0%,
    rgba(255, 255, 255, 0.1) 45%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.1) 55%,
    transparent 100%);
  transform:rotate(-45deg);
  animation: shine 9s infinite forwards;
}
@keyframes shine{
  0%{top:-120%;left:-120%;}
  10%{left:100%;top:100%;}
  20%{left:100%;top:100%;}
  100%{left:100%;top:100%;}
  
}


.shimmer {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 20px;
    border: none;
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
